.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
  background: #c13247;
}
.navbar .company-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar .company-logo img {
  padding-right: 4px;
  width: 60px;
  height: 60px;
  margin-left: 30px;
}

.navbar .company-logo .company-name {
  text-align: center;
  font-size: 20px;
  font-weight: 800; /* Bold column headings */
  color: #000;
}
.navbar a {
  text-decoration: none;
}
.navbar .company-logo .company-name .subName {
  font-size: 20px;
  font-weight: 200;
  color: #f2f2f2;
}

.navbar .container1 {
  position: relative;
  margin-right: 15%;
}
.navbar .container1 .search_box input {
  width: 200%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 3px;
  color: #353535;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.navbar .container1 .search_box .search_icon {
  position: absolute;
  top: 9px;
  left: 183%;
  opacity: 0.4;
}
.navbar .dropdown1 .selectionResult {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  width: 135px;
  padding-left: 5px;
  position: absolute;
  border: 2px solid #000;
  border-radius: 3px;
  top: 23%;
  left: 21%;
  font-size: 18px;
  color: #f2f2f2;
  text-align: center;
}

.navbar .dropdown1 .selectionResult .SelectionArrow {
  position: absolute;
  top: 20%;
  left: 77%;
  opacity: 0.8;
}

.container2 {
  position: relative;
  display: inline-flex;
  margin-right: 7%;
}
.container2 .cart {
  display: inline-flex;
  padding-right: 20px;
}
.container2 .cart .cartIcon {
  height: 32px;
  width: 32px;
  color: #f2f2f2;
}
.container2 .cart h3 {
  margin-top: 6px;
  font-size: 17px;
  color: #f2f2f2;
  font-weight: 200;
  padding-left: 4px;
}

.container2 .account {
  display: inline-flex;
  padding: 3px;
  padding-right: 4px;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}
.container2 .accountIcon {
  color: #f2f2f2;
}
.container2 .account h3 {
  margin-top: 2px;
  font-size: 17px;
  color: #f2f2f2;
  font-weight: 200;
  padding-left: 4px;
}

.container2 .dropdown2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #f2f2f2;
  margin-top: 5px;
  width: 190px;
  height: 200px;
  top: 100%;
  border-radius: 4px;
  left: 31%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container2 .dropdown2::before {
  content: " ";
  position: absolute;
  top: -5px;
  right: 98px;
  height: 20px;
  width: 20px;
  background: #f2f2f2;
  transform: rotate(45deg);
}

.container2 .dropdown2 ul {
  list-style: none;
  margin: 6px;
  padding-block: 12px;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  text-align: left;
  cursor: pointer;
}

.container2 .dropdown2 ul li {
  display: flex;
  align-items: center;
  text-align: left;
}

.container2 .dropdown2 ul li Button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  padding-inline: 5px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize !important;
  color: #717177;
}
.container2 .dropdown2 ul li Button:hover {
  background: #bdbdbd;
  color: #353535;
}
